img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 100%;
  display: flex; 
}


@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  
  .sidebar {
    display: none; 
  }
}
